@model IEnumerable<FileTaggerMVC.Models.FileViewModel>

<script type="text/javascript" src="~/Scripts/fileRunner.js"></script>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FileName
            </td>
            <td>
                
            </td>
            <td>
                @{
                    Html.RenderPartial("RunButton", item.FilePath);
                }
            </td>
        </tr>
    }
</table>

