@using FileTaggerMVC.Models
@model List<IGrouping<TagTypeViewModel, TagViewModel>>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('span').mousedown(function (e) { e.preventDefault(); });

        var btnSearch = $('#btnSearch');

        var complete = function (result) {
            $('#result').html(result);
            btnSearch.button('reset');
        };

        $('form').submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                beforeSend: function () {
                    btnSearch.button('loading');
                    $('#result').empty();
                },
                error: complete,
                success: complete
            });
            return false;
        });
    });
</script>

@using (Html.BeginForm("ByTags", "Home"))
{
    foreach (IGrouping<TagTypeViewModel, TagViewModel> grouping in Model)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h4>
                            @if (grouping.Key == null)
                            {
                                <strong>
                                    <i>None</i>
                                </strong>
                            }
                            else
                            {
                                <strong>
                                    <text>@grouping.Key.Description</text>
                                </strong>
                            }
                        </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        @foreach (TagViewModel tag in grouping)
                        {
                            <label class="checkbox-inline">
                                <input type="checkbox" value="@tag.Id" name="tagIds">
                                <span class="label label-info">@tag.Description</span>
                            </label>
                        }
                    </div>
                </div>

                <hr />
            </div>
        </div>
    }

    <button class="btn btn-primary" type="submit" id="btnSearch">Search</button>
}

&nbsp;

<div class="row">
    <div class="col-md-12">
        <div id="result"></div>
    </div>
</div>
