@using FileTaggerMVC.Models
@model List<IGrouping<TagTypeViewModel, TagViewModel>>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('form').submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    $('#result').html(result);
                }
            });
            return false;
        });
    });
</script>

@using (Html.BeginForm("ByTags", "Home"))
{
    foreach (IGrouping<TagTypeViewModel, TagViewModel> grouping in Model)
    {
        <span>Tag type:</span>
        <span>
            @if(grouping.Key == null)

        </span>

        foreach (TagViewModel tag in grouping)
        {
            <label class="checkbox-inline">
                <input type="checkbox" value="@tag.Id" name="tagIds"> @tag.Description
            </label>
            <text>&nbsp;&nbsp;&nbsp;</text>
        }

        <hr />
    }

    <button class="btn btn-default" type="submit">Search</button>
}

&nbsp;

<div class="row">
    <div class="col-md-12">
        <div id="result"></div>
    </div>
</div>
