@model IEnumerable<FileTaggerMVC.Models.TagViewModel>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ByTags", "Home"))
{
    <div class="form-horizontal">
        @foreach (FileTaggerMVC.Models.TagViewModel tag in Model)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="@tag.Id" name="tagIds"> @tag.Description
                </label>
            </div>
        }
        <button class="btn btn-default" type="submit">Search</button>
    </div>
}