@model FileTaggerMVC.Controllers.ByTagModel
@{
    ViewBag.Title = "Files by Tag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $(".table a").click(function (evt) {
            $.ajax({
                type: "GET",
                url: "/File/Run",
                data: "filePath=" + $(evt.target).data("filepath"),
                success: function (html) {
                    console.log(html);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        });
    });
</script>

<h1>
    @Model.TagDescription
</h1>

<table class="table">
    <tr>
        <th>
            File Name
        </th>
        <th>
            
        </th>
    </tr>
    @foreach (var item in Model.FileViewModels)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                <a href="javascript:void(0)" data-filepath="@item.FilePath" class="btn btn-danger">Run</a>
            </td>
        </tr>
    }
</table>

