@model IEnumerable<FileTaggerMVC.Models.FileViewModel>
@{
    ViewBag.Title = "ByTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $(".table a").click(function (evt) {
            $.ajax({
                type: "GET",
                url: "/File/Run",
                data: "filePath=" + $(evt.target).data("filepath")
            });
        });
    });
</script>

<table class="table">
    <tr>
        <th>
            File Name
        </th>
        <th>
            
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                <a href="#" data-filepath="@item.FilePath" class="btn btn-danger">Run</a>
            </td>
        </tr>
    }
</table>

