@model FileTaggerMVC.Models.NoFileViewModel

<script type="text/javascript">
    $(function () {
        $("#run").click(function (evt) {
            $.ajax({
                type: "GET",
                url: "/File/Run",
                data: "filePath=" + escape($(evt.target).data("filepath"))
            });
        });
    });
</script>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
    </dl>
</div>
<p>File not in database.</p>
<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-info" })
</p>
<p>
    <a href="javascript:void(0)" data-filepath="@Model.FilePath" class="btn btn-danger" id="run">Run</a>
</p>