@model FileTaggerMVC.Models.NoFileViewModel

<script type="text/javascript" src="~/Scripts/fileRunner.js"></script>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
    </dl>
</div>
<p>File not in database.</p>
<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-info" })
</p>
<p>
    @{
        Html.RenderPartial("RunButton", Model.FilePath);
    }
</p>