@model string
@{
    ViewBag.Title = "ListFiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('#jstreeDiv').on('select_node.jstree', function (e, nodeData) {
            if (nodeData.node.a_attr["data-filename"] == undefined) return;
            $.ajax({
                type: "GET",
                url: "/File/Details",
                data: "fileName=" + escape(nodeData.node.a_attr["data-filename"])
            }).done(function (dataDone) {
                $("#divView").html(dataDone);
            });
        }).jstree({
            "types" : {
                "leaf": {
                    "icon" : "glyphicon glyphicon-file"
                }
            },
            "plugins" : [ "types" ],
            'core': {
                'data': [
                   @Html.Raw(@Model)
                ]
            }
        }).bind('loaded.jstree', function (e, data) {
            $(document).scrollTop(localStorage['scrollTop']);
        });

        $(document).scroll(function () {
            localStorage['scrollTop'] = $(document).scrollTop();
        });
    });
</script>

<div class="row">
    <div class="col-md-4">
        <div id="divView" data-spy="affix" data-offset-top="205">
        </div>
    </div>
    <div class="col-md-8">
        <div id="jstreeDiv">
        </div>
    </div>
</div>
