@model string
@{
    ViewBag.Title = "List Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('#jstreeDiv').on('select_node.jstree', function (e, nodeData) {
            if (nodeData.node.a_attr["data-filename"] == undefined)
                return;

            var divView = $("#divView");

            var complete = function (result) {
                divView.html(result);
            };

            $.ajax({
                type: "GET",
                url: "/File/Details",
                data: "fileName=" + escape(nodeData.node.a_attr["data-filename"]),
                beforeSend: function () {
                    divView.empty();
                },
                error: complete,
                success: complete
            });
        }).jstree({
            "types" : {
                "file_new": {
                    "icon": "glyphicon glyphicon-plus"
                },
                "file_added": {
                    "icon": "glyphicon glyphicon-ok"
                }
            },
            "plugins" : [ "types" ],
            'core': {
                'data': [
                   @Html.Raw(@Model)
                ]
            }
        }).bind('loaded.jstree', function (e, data) {
            $(document).scrollTop(localStorage['scrollTop']);
        });

        $(document).scroll(function () {
            localStorage['scrollTop'] = $(document).scrollTop();
        });
    });
</script>
<div class="row">
    <div class="col-md-4">
        <div id="divView" data-spy="affix" data-offset-top="205">
        </div>
    </div>
    <div class="col-md-8">
        <div id="jstreeDiv">
        </div>
    </div>
</div>
