@model string
@{
    ViewBag.Title = "ListFiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('#jstreeDiv').on('select_node.jstree', function (e, data) {
            /*
            data =
            {
                node : Object,
                selected : Array,   // the current selection
                event : Object      // the event (if any) that triggered this select_node
            }
            */
            $.ajax({
                type: "GET",
                url: "/CreateOrEditFile",
                data: "my/file/path/a.exe"

            });
            // TODO
        }).jstree({
            "types" : {
                "leaf": {
                    "icon" : "glyphicon glyphicon-file"
                }
            },
            "plugins" : [ "types" ],
            'core': {
                'data': [
                   @Html.Raw(@Model)
                ]
            }
        });
    });
</script>
<div id="jstreeDiv">
</div>